@page "/employees"
@inherits EmployeeBase

<h3>Employee</h3>

<button @onclick="@QuickAddEmployee" class="btn btn-primary table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>
<AddEmployeeDialog @ref="AddEmployeeDialog" CloseEventCallback="@AddEmployeeDialog_OnDialogClose" />

